
@{
    ViewBag.Title = "Detail";
}

<script src="~/Template/assets/js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script src="~/Template/assets/js/initialize-carousel-detailspage.js"></script>

<div class="container breadcrub">
    <div>
        <a class="homebtn left" href="#"></a>
        <div class="left">
            <ul class="bcrumbs">
                <li>/</li>
                <li><a href="#">Hotels</a></li>
                <li>/</li>
                <li><a href="#" class="active" ng-bind="HotelName"></a></li>
            </ul>
        </div>
        <a class="backbtn right" onclick="goBack()"></a>
    </div>
    <div class="clearfix"></div>
    <div class="brlines"></div>
</div>

<!-- CONTENT -->
<div class="container">
    <div class="container pagecontainer offset-0">

        <!-- SLIDER -->
        <div class="col-md-8 details-slider">

            <div id="c-carousel">
                <div id="wrapper">
                    <div id="inner">
                        <div id="caroufredsel_wrapper2">
                            <div id="carousel">
                                <img src='https://q-ak.bstatic.com/images/hotel/max1024x768/243/24388030.jpg' />
                                <img src='https://r-ak.bstatic.com/images/hotel/max1024x768/248/24860299.jpg' />
                                <img src='https://q-ak.bstatic.com/images/hotel/max1024x768/248/24857266.jpg' />
                                <img src='https://r-ak.bstatic.com/images/hotel/max1024x768/248/24859078.jpg' />
                                <img src='https://r-ak.bstatic.com/images/hotel/max1024x768/269/26927157.jpg' />
                                <img src='https://q-ak.bstatic.com/images/hotel/max1024x768/248/24856990.jpg' />
                            </div>
                        </div>
                        <div id="pager-wrapper">
                            <div id="pager">
                                <img src='https://q-ak.bstatic.com/images/hotel/max1024x768/243/24388030.jpg' />
                                <img src='https://r-ak.bstatic.com/images/hotel/max1024x768/248/24860299.jpg' />
                                <img src='https://q-ak.bstatic.com/images/hotel/max1024x768/248/24857266.jpg' />
                                <img src='https://r-ak.bstatic.com/images/hotel/max1024x768/248/24859078.jpg' />
                                <img src='https://r-ak.bstatic.com/images/hotel/max1024x768/269/26927157.jpg' />
                                <img src='https://q-ak.bstatic.com/images/hotel/max1024x768/248/24856990.jpg' />
                                <script>
                                    $.get("api/ModuleHotel/ViewDetailHotel/1?Lang=en", function (data) {
                                        var items = [];
                                        var str = "";

                                        $.each(data.slidesImage, function (key, val) {
                                            str += "<img  src='" + val.Image + "'/>";
                                            //   items.push("<img  src='" + val.Image + "'/>");
                                            //   $("<img>").attr("src", val.Image).appendTo('div[id="pager"]');
                                        });
                                        console.log(str);
                                        $("#pager").append(str);
                                    });
                                </script>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <button id="prev_btn2" class="prev2" href="#"><img src="\Template/images/spacer.png" alt="" /></button>
                    <button id="next_btn2" class="next2" href="#"><img src="\Template/images/spacer.png" alt="" /></button>

                </div>
            </div> <!-- /c-carousel -->
        </div>
        <script>

            $('#carousel').prepend('<img src="https://r-ak.bstatic.com/images/hotel/max1024x768/269/26927157.jpg" />');
            $('#pager').prepend('<img src="https://r-ak.bstatic.com/images/hotel/max1024x768/269/26927157.jpg" width="120" height="68" alt=""  />');
        </script>
        <!-- END OF SLIDER -->
        <!-- RIGHT INFO -->
        <div class="col-md-4 detailsright offset-0">
            <div class="padding20">
                <h4 class="lh1">Mabely Grand Hotel</h4>
                <img src="\Template/images/smallrating-5.png" alt="" />
            </div>

            <div class="line3"></div>

            <div class="hpadding20">
                <h2 class="opensans slim green2">Wonderful!</h2>
            </div>

            <div class="line3 margtop20"></div>

            <div class="col-md-6 bordertype1 padding20">
                <span class="opensans size30 bold grey2">97%</span><br />
                of guests<br />recommend
            </div>
            <div class="col-md-6 bordertype2 padding20">
                <span class="opensans size30 bold grey2">4.5</span>/5<br />
                guest ratings
            </div>

            <div class="col-md-6 bordertype3">
                <img src="\Template/images/user-rating-4.png" alt="" /><br />
                18 reviews
            </div>
            <div class="col-md-6 bordertype3">
                <a href="#" class="grey">+Add review</a>
            </div>
            <div class="clearfix"></div><br />

            <div class="hpadding20">
                <a href="#" class="add2fav margtop5">Add to favourite</a>
                <a href="#" class="booknow margtop20 btnmarg">Book now</a>
            </div>
        </div>
        <!-- END OF RIGHT INFO -->

    </div>
    <!-- END OF container-->


    <div class="container mt25 offset-0">

        <div class="col-md-8 pagecontainer2 offset-0">
            <div class="cstyle10"></div>

            <ul class="nav nav-tabs" id="myTab">
                <li onclick="mySelectUpdate()" class=""><a data-toggle="tab" data-target="#summary"><span class="summary"></span><span class="hidetext">Summary</span>&nbsp;</a></li>
                <li onclick="mySelectUpdate()" class="active"><a data-toggle="tab" data-target="#roomrates"><span class="rates"></span><span class="hidetext">Room rates</span>&nbsp;</a></li>
                <li onclick="mySelectUpdate()" ng-hide="true" class=""><a data-toggle="tab" data-target="#preferences"><span class="preferences"></span><span class="hidetext">Preferences</span>&nbsp;</a></li>
                <li onclick="loadScript()" ng-hide="true" class=""><a data-toggle="tab" data-target="#maps"><span class="maps"></span><span class="hidetext">Maps</span>&nbsp;</a></li>
                <li ng-hide="true" onclick="mySelectUpdate();  trigerJslider(); trigerJslider2(); trigerJslider3(); trigerJslider4(); trigerJslider5(); trigerJslider6();" class=""><a data-toggle="tab" data-target="#reviews"><span class="reviews"></span><span class="hidetext">Reviews</span>&nbsp;</a></li>
                <li ng-hide="true" onclick="mySelectUpdate()" class=""><a data-toggle="tab" data-target="#thingstodo"><span class="thingstodo"></span><span class="hidetext">Things to do</span>&nbsp;</a></li>

            </ul>
            <div class="tab-content4">
                <!-- TAB 1 -->
                <div id="summary" class="tab-pane fade ">
                    <div ng-include="'Hotel/Summary'"></div>
                </div>
                <!-- TAB 2 -->
                <div id="roomrates" class="tab-pane fade active in">
                    <div ng-include="'Hotel/RoomRates'"></div>
                </div>

                <!-- TAB 3 -->
                <div id="preferences" class="tab-pane fade">
                    <div ng-include="'Hotel/Preferences'"></div>

                </div>

                <!-- TAB 4 -->
                <div id="maps" class="tab-pane fade">
                    <div class="hpadding20">
                        <div id="map-canvas"></div>
                    </div>
                </div>

                <!-- TAB 5 -->
                <div id="reviews" class="tab-pane fade ">
                    <div ng-include="'Hotel/Reviews'"></div>
                </div>

                <!-- TAB 6 -->
                <div id="thingstodo" class="tab-pane fade">
                    <div ng-include="'Hotel/Thingstodo'"></div>
                </div>

            </div>
        </div>

        <div class="col-md-4">

            <div class="pagecontainer2 testimonialbox">
                <div class="cpadding0 mt-10">
                    <span class="icon-quote"></span>
                    <p class="opensans size16 grey2">
                        It was very comfortable to stay and staff were pleasant and welcoming.<br />
                        <span class="lato orange bold size13"><i>by Ellison from United Kingdom</i></span>
                    </p>
                </div>
            </div>

            <div class="pagecontainer2 mt20 needassistancebox">
                <div class="cpadding1">
                    <span class="icon-help"></span>
                    <h3 class="opensans">Need Assistance?</h3>
                    <p class="size14 grey">Our team is 24/7 at your service to help you with your booking issues or answer any related questions</p>
                    <p class="opensans size30 green xslim">1-866-599-6674</p>
                </div>
            </div><br />

            <div class="pagecontainer2 mt20 alsolikebox">
                <div class="cpadding1">
                    <span class="icon-location"></span>
                    <h3 class="opensans">You May Also Like</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="cpadding1 ">
                    <a href="#"><img src="\Template/images/smallthumb-1.jpg" class="left mr20" alt="" /></a>
                    <a href="#" class="dark"><b>Hotel Amaragua</b></a><br />
                    <span class="opensans green bold size14">$36-$160</span> <span class="grey">avg/night</span><br />
                    <img src="\Template/images/filter-rating-5.png" alt="" />
                </div>
                <div class="line5"></div>
                <div class="cpadding1 ">
                    <a href="#"><img src="\Template/images/smallthumb-2.jpg" class="left mr20" alt="" /></a>
                    <a href="#" class="dark"><b>Hotel Amaragua</b></a><br />
                    <span class="opensans green bold size14">$36-$160</span> <span class="grey">avg/night</span><br />
                    <img src="\Template/images/filter-rating-5.png" alt="" />
                </div>
                <div class="line5"></div>
                <div class="cpadding1 ">
                    <a href="#"><img src="\Template/images/smallthumb-3.jpg" class="left mr20" alt="" /></a>
                    <a href="#" class="dark"><b>Hotel Amaragua</b></a><br />
                    <span class="opensans green bold size14">$36-$160</span> <span class="grey">avg/night</span><br />
                    <img src="\Template/images/filter-rating-5.png" alt="" />
                </div>
                <br />

            </div>
        </div>
    </div>
</div>
<!-- END OF CONTENT -->



<script>
    function goBack() {
        window.history.back();
    }
</script>
@Html.Partial("../Home/Footer")
<!-- CarouFredSel -->
