
@{
    ViewBag.Title = "Index";
}
<div class="container breadcrub">
    <div>
        <a class="homebtn left" href="#"></a>
        <div class="left">
            <ul class="bcrumbs">
                <li>/</li>
                <li><a href="#">Hotels</a></li>
            </ul>
        </div>
        <a class="backbtn right" href="#"></a>
    </div>
    <div class="clearfix"></div>
    <div class="brlines"></div>
</div>

<!-- CONTENT -->
<div class="container">
    <div class="container pagecontainer offset-0">

        <!-- FILTERS -->
        <div class="col-md-3 filters offset-0">

            <!-- TOP TIP -->
            <div class="filtertip">
                <div class="padding20">
                    <p class="size13"><span class="size18 bold counthotel">53</span> Hotels starting at</p>
                    <p class="size30 bold">$<span class="countprice"></span></p>
                    <p class="size13">Narrow results or <a href="#">view all</a></p>
                </div>
                <div class="tip-arrow"></div>
            </div>


            <!-- END OF BOOK FILTERS -->

            <div class="padding20title"><h3 class="opensans dark">Filter by</h3></div>
            <div class="line2"></div>

            <!-- Star ratings -->
            <button type="button" class="collapsebtn" data-toggle="collapse" data-target="#collapse1">
                Star rating <span class="collapsearrow"></span>
            </button>

            <div id="collapse1" class="collapse in">
                <div class="hpadding20">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><img src="\Template/images/filter-rating-5.png" class="imgpos1" alt="" /> 5 Stars
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><img src="\Template/images/filter-rating-4.png" class="imgpos1" alt="" /> 4 Stars
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><img src="\Template/images/filter-rating-3.png" class="imgpos1" alt="" /> 3 Stars
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><img src="\Template/images/filter-rating-2.png" class="imgpos1" alt="" /> 2 Stars
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><img src="\Template/images/filter-rating-1.png" class="imgpos1" alt="" /> 1 Star
                        </label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- End of Star ratings -->

            <div class="line2"></div>

            <!-- Price range -->

            @*<button type="button" class="collapsebtn" data-toggle="collapse" data-target="#collapse2">
                Price range <span class="collapsearrow"></span>
            </button>

            <div id="collapse2" class="collapse in">
                <div class="padding20">
                    <div class="layout-slider wh100percent">
                        <span class="cstyle09"><input id="Slider1" type="slider" name="price" value="400;700" /></span>
                    </div>
                    <script type="text/javascript">
						  jQuery("#Slider1").slider({ from: 100, to: 1000, step: 5, smooth: true, round: 0, dimension: "&nbsp;$", skin: "round" });
                    </script>
                </div>
            </div>*@
            <!-- End of Price range -->

            <div class="line2"></div>

            <!-- Acomodations -->
            <button type="button" class="collapsebtn" data-toggle="collapse" data-target="#collapse3">
                Acomodation type <span class="collapsearrow"></span>
            </button>
            <div id="collapse3" class="collapse in">
                <div class="hpadding20">
                  
                    <div class="radio" ng-repeat="a in acomodationtype">
                  
                        <label>

                            <input type="radio" ng-model="lookup" value="{{a.AcomodationTypeId}}">{{a.AcomodationTypeName}}</input>
                         
                          
                        </label>
                       
                    </div>
               
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- End of Acomodations -->

            <div class="line2"></div>

            <!-- Hotel Preferences -->
            <button type="button" class="collapsebtn last" data-toggle="collapse" data-target="#collapse4">
                Amentities <span class="collapsearrow"></span>
            </button>
            <div id="collapse4" class="collapse in">
                <div class="hpadding20">
                    <div class="checkbox" ng-repeat="b in amentities">
                        <label>
                            <input type="checkbox" >{{b.AmentitiesName}}
                        </label>
                    </div>
                  

                </div>
                <div class="clearfix"></div>
            </div>
            <!-- End of Hotel Preferences -->

            <div class="line2"></div>

            <!-- Hotel Preferences -->
            <button type="button" class="collapsebtn last" data-toggle="collapse" data-target="#collapse5">
                Facilities <span class="collapsearrow"></span>
            </button>
            <div id="collapse5" class="collapse in">
                <div class="hpadding20" ng-repeat="c in facilities">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">{{c.FacilitiesName}}
                        </label>
                    </div>


                </div>
                <div class="clearfix"></div>
            </div>
            <!-- End of Hotel Preferences -->
            <div class="line2"></div>
            <div class="clearfix"></div>
            <br />
            <br />
            <br />


        </div>
        <!-- END OF FILTERS -->
        <!-- LIST CONTENT-->
        <div class="rightcontent col-md-9 offset-0">

            <div class="hpadding20">
                <!-- Top filters -->
                <div class="topsortby">
                    <div class="col-md-4 offset-0">

                        <div class="left mt7"><b>Sort by:</b></div>

                        <div class="right wh70percent">
                            
                            <select class="form-control mySelectBoxClass " ng-model="sortHotelName">
                                <option value>-- Hotel Name --</option>
                                <option value="HotelName">A to Z</option>
                                <option value="-HotelName">Z to A</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="w50percent">
                            <div class="wh90percent">
                                <select class="form-control mySelectBoxClass " ng-model="search.Rate">
                                    <option value>-- Rating --</option>
                                    <option value="5">5 stars</option>
                                    <option value="4">4 stars</option>
                                    <option value="3">3 stars</option>
                                    <option value="2">2 stars</option>
                                    <option value="1">1 stars</option>
                                </select>
                            </div>
                        </div>
                        <div class="w50percentlast">
                            <div class="wh90percent">
                                <select class="form-control mySelectBoxClass "  ng-model="sortPrice">
                                    <option value>-- Price --</option>
                                    <option value="Price">Ascending</option>
                                    <option value="-Price">Descending</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offset-0">
                        <button class="popularbtn left">Most Popular</button>
                        <div class="right">
                            <button class="gridbtn" onClick="window.open('list2.html','_self');">&nbsp;</button>
                            <button class="listbtn" onClick="window.open('list4.html','_self');">&nbsp;</button>
                            <button class="grid2btn active">&nbsp;</button>
                        </div>
                    </div>
                </div>
                <!-- End of topfilters-->
            </div>
            <!-- End of padding -->

            <br /><br />
            <div class="clearfix"></div>

            <div class="itemscontainer offset-1">

                <div class="col-md-4"  ng-repeat="n in ListHotel.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))| filter:search:false||undefined |orderBy : [sortHotelName,'-Price']">
                    <div class="listitem">
                        <img src="{{n.Images}}" alt="" />
                        <div class="liover"></div>
                        <a class="fav-icon" href="#"></a>
                        <a class="book-icon" href="#"></a>
                    </div>
                    <div class="itemlabel2">
                        <div class="labelright">
                            <img src="\Template/images/filter-rating-{{n.Rate}}.png" width="60" alt="" /><br /><br /><br />
                            <img src="\Template/images/user-rating-{{n.Rate}}.png" width="60" alt="" /><br />
                            <span class="size11 grey">18 Reviews</span><br /><br />
                            <span class="green size18" ><b ng-bind="n.Price"> </b></span><br />
                            <span class="size11 grey">avg/night</span><br /><br /><br />
                            <button class="bookbtn mt1" ui-sref="HotelDetail({ID:{{n.HotelId}}})">Book</button>
                        </div>
                        <div class="labelleft">
                            <b ng-bind="n.HotelName | limitTo:21"></b><br /><br /><br />
                            <p class="grey">
                                {{n.Content| limitTo:100}}...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of offset1-->

            <div class="clearfix"></div>
            <div class="offset-2"><hr class="featurette-divider3"></div>
            <div class="hpadding20">


                <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination right paddingbtm20" items-per-page="itemsPerPage"></ul>


            </div>

        </div>
        <!-- END OF LIST CONTENT-->



    </div>
    <!-- END OF container-->

</div>
<!-- END OF CONTENT -->


@Html.Partial("../Home/Footer")
