
@{
    ViewBag.Title = "Preferences";
}
<p class="hpadding20">
    The hotel offers a snack bar/deli. A bar/lounge is on site where guests can unwind with a drink. Guests can enjoy a complimentary breakfast. An Internet point is located on site and high-speed wireless Internet access is complimentary.
</p>

<div class="line4"></div>

<!-- Collapse 7 -->
<button type="button" class="collapsebtn2" data-toggle="collapse" data-target="#collapse7">
    Hotel facilities <span class="collapsearrow"></span>
</button>

<div id="collapse7" class="collapse in">
    <div class="hpadding20">

        <div class="col-md-4 offset-0">
            <ul class="hotelpreferences2 left">
                <li class="icohp-internet"></li>
                <li class="icohp-air"></li>
                <li class="icohp-pool"></li>
                <li class="icohp-childcare"></li>
                <li class="icohp-fitness"></li>
                <li class="icohp-breakfast"></li>
                <li class="icohp-parking"></li>
                <li class="icohp-pets"></li>
                <li class="icohp-spa"></li>
                <li class="icohp-hairdryer"></li>
            </ul>
            <ul class="hpref-text left">
                <li>High-speed Internet</li>
                <li>Air conditioning</li>
                <li>Swimming pool</li>
                <li>Childcare</li>
                <li>Fitness equipment</li>
                <li>Free breakfast</li>
                <li>Free parking</li>
                <li>Pets allowed</li>
                <li>Spa services on site</li>
                <li>Hair dryer</li>
            </ul>
        </div>


        <div class="col-md-4 offset-0">
            <ul class="hotelpreferences2 left">
                <li class="icohp-garden"></li>
                <li class="icohp-grill"></li>
                <li class="icohp-kitchen"></li>
                <li class="icohp-bar"></li>
                <li class="icohp-living"></li>
                <li class="icohp-tv"></li>
                <li class="icohp-fridge"></li>
                <li class="icohp-microwave"></li>
                <li class="icohp-washing"></li>
                <li class="icohp-roomservice"></li>
            </ul>
            <ul class="hpref-text left">
                <li>Courtyard garden</li>
                <li>Grill / Barbecue</li>
                <li>Kitchen</li>
                <li>Bar</li>
                <li>Living</li>
                <li>TV</li>
                <li>Fridge</li>
                <li>Microwave</li>
                <li>Washing maschine</li>
                <li>Room service</li>
            </ul>
        </div>
        <div class="col-md-4 offset-0">
            <ul class="hotelpreferences2 left">
                <li class="icohp-safe"></li>
                <li class="icohp-playground"></li>
                <li class="icohp-conferenceroom"></li>
            </ul>
            <ul class="hpref-text left">
                <li>Reception Safe</li>
                <li>Playground</li>
                <li>Conference room</li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>

</div>
<!-- End of collapse 7 -->
<br />
<div class="line4"></div>

<!-- Collapse 8 -->
<button type="button" class="collapsebtn2" data-toggle="collapse" data-target="#collapse8">
    Room facilities <span class="collapsearrow"></span>
</button>

<div id="collapse8" class="collapse in">
    <div class="hpadding20">
        <div class="col-md-4">
            <ul class="checklist">
                <li>Climate control</li>
                <li>Air conditioning</li>
                <li>Direct-dial phone</li>
                <li>Minibar</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="checklist">
                <li>Wake-up calls</li>
                <li>Daily housekeeping</li>
                <li>Private bathroom</li>
                <li>Hair dryer</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="checklist">
                <li>Makeup/shaving mirror</li>
                <li>Shower/tub combination</li>
                <li>Satellite TV service</li>
                <li>Electronic/magnetic keys</li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- End of collapse 8 -->

