
@{
    ViewBag.Title = "Reviews";
}
<div class="hpadding20">
    <div class="col-md-4 offset-0">
        <span class="opensans dark size60 slim lh3 ">4.5/5</span><br />
        <img src="\Template/images/user-rating-4.png" alt="" />
    </div>
    <div class="col-md-8 offset-0">
        <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success wh75percent" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only">4.5 out of 5</span>
            </div>
        </div>
        <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success wh100percent" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only">100% of guests recommend</span>
            </div>
        </div>
        <div class="clearfix"></div>
        Ratings based on 5 Verified Reviews
    </div>
    <div class="clearfix"></div>
    <br />
    <span class="opensans dark size16 bold">Average ratings</span>
</div>

<div class="line4"></div>

<div class="hpadding20">
    <div class="col-md-4 offset-0">
        <div class="scircle left">4.4</div>
        <div class="sctext left margtop15">Cleanliness</div>
        <div class="clearfix"></div>
        <div class="scircle left">4.0</div>
        <div class="sctext left margtop15">Service & staff</div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-4 offset-0">
        <div class="scircle left">3.8</div>
        <div class="sctext left margtop15">Room comfort</div>
        <div class="clearfix"></div>
        <div class="scircle left">4.4</div>
        <div class="sctext left margtop15">Sleep Quality</div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-4 offset-0">
        <div class="scircle left">4.2</div>
        <div class="sctext left margtop15">Location</div>
        <div class="clearfix"></div>
        <div class="scircle left">4.4</div>
        <div class="sctext left margtop15">Value for Price</div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>

    <br />
    <span class="opensans dark size16 bold">Reviews</span>
</div>

<div class="line2"></div>

<div class="hpadding20">
    <div class="col-md-4 offset-0 center">
        <div class="padding20">
            <div class="bordertype5">
                <div class="circlewrap">
                    <img src="\Template/images/user-avatar.jpg" class="circleimg" alt="" />
                    <span>4.5</span>
                </div>
                <span class="dark">by Sena</span><br />
                from London, UK<br />
                <img src="\Template/images/check.png" alt="" /><br />
                <span class="orange">Recommended<br />for Everyone</span>
            </div>

        </div>
    </div>
    <div class="col-md-8 offset-0">
        <div class="padding20">
            <span class="opensans size16 dark">Great experience</span><br />
            <span class="opensans size13 lgrey">Posted Jun 02, 2013</span><br />
            <p>Excellent hotel, friendly staff would def go there again</p>
            <ul class="circle-list">
                <li>4.5</li>
                <li>3.8</li>
                <li>4.2</li>
                <li>5.0</li>
                <li>4.6</li>
                <li>4.8</li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="line2"></div>

<div class="hpadding20">
    <div class="col-md-4 offset-0 center">
        <div class="padding20">
            <div class="bordertype5">
                <div class="circlewrap">
                    <img src="\Template/images/user-avatar.jpg" class="circleimg" alt="" />
                    <span>4.5</span>
                </div>
                <span class="dark">by Sena</span><br />
                from London, UK<br />
                <img src="\Template/images/check.png" alt="" /><br />
                <span class="orange">Recommended<br />for Everyone</span>
            </div>

        </div>
    </div>
    <div class="col-md-8 offset-0">
        <div class="padding20">
            <span class="opensans size16 dark">Great experience</span><br />
            <span class="opensans size13 lgrey">Posted Jun 02, 2013</span><br />
            <p>The view from our balcony in room # 409, was terrific. It was centrally located to everything on and around the port area. Wonderful service and everything was very clean. The breakfast was below average, although not bad. If back in Zante Town we would stay there again.</p>
            <ul class="circle-list">
                <li>4.5</li>
                <li>3.8</li>
                <li>4.2</li>
                <li>5.0</li>
                <li>4.6</li>
                <li>4.8</li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="line2"></div>

<div class="hpadding20">
    <div class="col-md-4 offset-0 center">
        <div class="padding20">
            <div class="bordertype5">
                <div class="circlewrap">
                    <img src="\Template/images/user-avatar.jpg" class="circleimg" alt="" />
                    <span>4.5</span>
                </div>
                <span class="dark">by Sena</span><br />
                from London, UK<br />
                <img src="\Template/images/check.png" alt="" /><br />
                <span class="orange">Recommended<br />for Everyone</span>
            </div>

        </div>
    </div>
    <div class="col-md-8 offset-0">
        <div class="padding20">
            <span class="opensans size16 dark">Great experience</span><br />
            <span class="opensans size13 lgrey">Posted Jun 02, 2013</span><br />
            <p>It is close to everything but if you go in the lower season the pool won't be ready even though the temperature was quiet high already.</p>
            <ul class="circle-list">
                <li>4.5</li>
                <li>3.8</li>
                <li>4.2</li>
                <li>5.0</li>
                <li>4.6</li>
                <li>4.8</li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="line2"></div>
<br />
<br />
<div class="hpadding20">
    <span class="opensans dark size16 bold">Reviews</span>
</div>

<div class="line2"></div>

<div class="wh33percent left center">
    <ul class="jslidetext">
        <li>Cleanliness</li>
        <li>Room comfort</li>
        <li>Location</li>
        <li>Service & staff</li>
        <li>Sleep quality</li>
        <li>Value for Price</li>
    </ul>

    <ul class="jslidetext2">
        <li>Username</li>
        <li>Evaluation</li>
        <li>Title</li>
        <li>Comment</li>
    </ul>
</div>
<div class="wh66percent right offset-0">
    <script>
                                //This is a fix for when the slider is used in a hidden div
                                function testTriger() {
                                    setTimeout(function () {
                                        $(".cstyle01").resize();
                                    }, 500);
                                }
    </script>
    <div class="padding20 relative wh70percent">
        <div class="layout-slider wh100percent">
            <span class="cstyle01"><input id="Slider1" type="slider" name="price" value="0;4.2" /></span>
        </div>
        <script type="text/javascript">
                                    function trigerJslider() {
                                        jQuery("#Slider1").slider({ from: 0, to: 5, step: 0.1, smooth: true, round: 1, dimension: "", skin: "round" });
                                        testTriger();
                                    }
        </script>



        <div class="layout-slider margtop10 wh100percent">
            <span class="cstyle01"><input id="Slider2" type="slider" name="price" value="0;5.0" /></span>
        </div>
        <script type="text/javascript">
                                    function trigerJslider2() {
                                        jQuery("#Slider2").slider({ from: 0, to: 5, step: 0.1, smooth: true, round: 1, dimension: "", skin: "round" });
                                    }
        </script>

        <div class="layout-slider margtop10 wh100percent">
            <span class="cstyle01"><input id="Slider3" type="slider" name="price" value="0;2.5" /></span>
        </div>
        <script type="text/javascript">
                                    function trigerJslider3() {
                                        jQuery("#Slider3").slider({ from: 0, to: 5, step: 0.1, smooth: true, round: 1, dimension: "", skin: "round" });
                                    }
        </script>

        <div class="layout-slider margtop10 wh100percent">
            <span class="cstyle01"><input id="Slider4" type="slider" name="price" value="0;3.8" /></span>
        </div>
        <script type="text/javascript">
                                    function trigerJslider4() {
                                        jQuery("#Slider4").slider({ from: 0, to: 5, step: 0.1, smooth: true, round: 1, dimension: "", skin: "round" });
                                    }
        </script>

        <div class="layout-slider margtop10 wh100percent">
            <span class="cstyle01"><input id="Slider5" type="slider" name="price" value="0;4.4" /></span>
        </div>
        <script type="text/javascript">
                                    function trigerJslider5() {
                                        jQuery("#Slider5").slider({ from: 0, to: 5, step: 0.1, smooth: true, round: 1, dimension: "", skin: "round" });
                                    }
        </script>

        <div class="layout-slider margtop10 wh100percent">
            <span class="cstyle01"><input id="Slider6" type="slider" name="price" value="0;4.0" /></span>
        </div>
        <script type="text/javascript">
                                    function trigerJslider6() {
                                        jQuery("#Slider6").slider({ from: 0, to: 5, step: 0.1, smooth: true, round: 1, dimension: "", skin: "round" });
                                    }
        </script>

        <input type="text" class="form-control margtop10" placeholder="">
        <select class="form-control mySelectBoxClass margtop10">
            <option selected>Wonderful!</option>
            <option>Nice</option>
            <option>Neutral</option>
            <option>Don't recommend</option>
        </select>
        <input type="text" class="form-control margtop10" placeholder="">

        <textarea class="form-control margtop10" rows="3"></textarea>

        <div class="clearfix"></div>
        <button type="submit" class="btn-search4 margtop20">Submit</button>

        <br />
        <br />
        <br />
        <br />

    </div>
</div>
<div class="clearfix"></div>
