
@{
    ViewBag.Title = "Thingstodo";
}

<p class="hpadding20 opensans size16 dark bold">Attractions travelers recommend</p>

<div class="line2"></div>

<div class="padding20">
    <div class="col-md-4 offset-0">
        <a href="#"><img src="\Template/images/items2/item5.jpg" alt="" class="fwimg" /></a>
    </div>
    <div class="col-md-8 offset-0">
        <div class="col-md-8 mediafix1">
            <span class="opensans dark size16 margtop1 margtop-5">Porto Limnionas Beach</span><br />
            <span class="green">“Just Great!!!”</span> 08/27/2013<br />
            <p class="margtop10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam velit augue, placerat quis est eget, cursus dictum felis. Morbi non dui vitae nisl pharetra placerat.</p>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4 center bordertype4">
            <img src="\Template/images/user-rating-4.png" alt="" /><br />
            <span class="opensans grey size14">31 reviews</span>
            <br /><br /><br /><br />
            <button class="bookbtn mt1">More</button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="line2"></div>

<div class="padding20">
    <div class="col-md-4 offset-0">
        <a href="#"><img src="\Template/images/items2/item6.jpg" alt="" class="fwimg" /></a>
    </div>
    <div class="col-md-8 offset-0">
        <div class="col-md-8 mediafix1">
            <span class="opensans dark size16 margtop1 margtop-5">Marathonissi (Turtle Island), Laganas</span><br />
            <span class="green">“Beautiful”</span> 08/27/2013<br />
            <p class="margtop10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam velit augue, placerat quis est eget, cursus dictum felis. Morbi non dui vitae nisl pharetra placerat.</p>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4 center bordertype4">
            <img src="\Template/images/user-rating-5.png" alt="" /><br />
            <span class="opensans grey size14">23 reviews</span>
            <br /><br /><br /><br />
            <button class="bookbtn mt1">More</button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="line2"></div>

<div class="padding20">
    <div class="col-md-4 offset-0">
        <a href="#"><img src="\Template/images/items2/item7.jpg" alt="" class="fwimg" /></a>
    </div>
    <div class="col-md-8 offset-0">
        <div class="col-md-8 mediafix1">
            <span class="opensans dark size16 margtop1 margtop-5">Navagio Beach (Shipwreck Beach)</span><br />
            <span class="green">“like being on a tropical island”</span> 08/27/2013<br />
            <p class="margtop10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam velit augue, placerat quis est eget, cursus dictum felis. Morbi non dui vitae nisl pharetra placerat.</p>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4 center bordertype4">
            <img src="\Template/images/user-rating-3.png" alt="" /><br />
            <span class="opensans grey size14">17 reviews</span>
            <br /><br /><br /><br />
            <button class="bookbtn mt1">More</button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="line2"></div>

<div class="padding20">
    <div class="col-md-4 offset-0">
        <a href="#"><img src="\Template/images/items2/item8.jpg" alt="" class="fwimg" /></a>
    </div>
    <div class="col-md-8 offset-0">
        <div class="col-md-8 mediafix1">
            <span class="opensans dark size16 margtop1 margtop-5">Blue Caves</span><br />
            <span class="green">“A must see”</span> 08/27/2013<br />
            <p class="margtop10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam velit augue, placerat quis est eget, cursus dictum felis. Morbi non dui vitae nisl pharetra placerat.</p>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4 center bordertype4">
            <img src="\Template/images/user-rating-4.png" alt="" /><br />
            <span class="opensans grey size14">10 reviews</span>
            <br /><br /><br /><br />
            <button class="bookbtn mt1">More</button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="line2"></div>