
@{
    ViewBag.Title = "Footer";
}
<!-- FOOTER -->
<div class="footerbgblack">
    <div class="container">

        <div class="col-md-3">
            <span class="ftitle">Let's socialize</span>
            <div class="scont">
                <a href="#" class="social1b"><img src="\Template/images/icon-facebook.png" alt="" /></a>
                <a href="#" class="social2b"><img src="\Template/images/icon-twitter.png" alt="" /></a>
                <a href="#" class="social3b"><img src="\Template/images/icon-gplus.png" alt="" /></a>
                <a href="#" class="social4b"><img src="\Template/images/icon-youtube.png" alt="" /></a>
                <br /><br /><br />
                <img src="\Template/images/logosmal.png" alt="" /><br />
                &copy; 2013  |  <a href="#">Privacy Policy</a><br />
                All Rights Reserved
                <br /><br />

            </div>
        </div>
        <!-- End of column 1-->

        <div class="col-md-3">
            <span class="ftitle">About Us</span>
            <br /><br />
            <ul class="footerlist">
                <li><a href="#">Company Overview</a></li>
                <li><a href="#">Private privacy</a></li>
                <li><a href="#">Term@Condition</a></li>
                <li><a href="#">Enquiry</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </div>
        <!-- End of column 2-->

        <div class="col-md-3">
            <span class="ftitle">ParnerShip</span>
            <br /><br />
            <ul class="footerlist">
                <li><a href="#">Log in My account</a></li>
                <li><a href="#">Service & Support</a></li>
                <li><a href="#">FAQs ช่วยเหลือ</a></li>
                <li><a href="#">How wizcation works</a></li>
                <li><a href="#">นโยบายการชำระเงิน</a></li>
                <li><a href="#">Site Map</a></li>
            </ul>
        </div>
        <!-- End of column 3-->

        <div class="col-md-3 grey">
            <span class="ftitle">Newsletter</span>
            <div class="relative">
                <input type="email" class="form-control fccustom" id="exampleInputEmail1" placeholder="Enter email">
                <button type="submit" class="btn btn-default btncustom">Submit<img src="images/arrow.png" alt="" /></button>
            </div>
            <br /><br />
            <span class="ftitle">Customer support</span><br />
            <span class="pnr">1-866-599-6674</span><br />
            office@travel.com
        </div>
        <!-- End of column 4-->





    </div>
</div>
<div class="footerbg3black">
    <div class="container center grey">
        Copyright &copy; 2013 <a href="#">Travel Agency</a> All rights reserved. <a href="http://titanicthemes.com">TitanicThemes.com</a>
        <br /><br />
        <a href="#top" class="gotop scroll"><img src="\Template/images/spacer.png" alt="" /></a>
    </div>
</div>

