
@{
    ViewBag.Title = "Footer";
}<!-- FOOTER -->
<div class="footerbgblack">
    <div class="container">
        <div class="col-md-3">
            <span class="ftitle">Let's socialize</span>
            <div class="scont">
                <a href="https://www.facebook.com/Wizcation-local-684103094945065/" class="social1b"><img src="\Template/images/icon-facebook.png" alt="" /></a>
                <a href="#/" class="social2b"><img src="\Template/images/icon-twitter.png" alt="" /></a>
                <a href="#/" class="social3b"><img src="\Template/images/icon-gplus.png" alt="" /></a>
                <a href="https://www.youtube.com/watch?v=ZSDG1hmYbPA" class="social4b"><img src="\Template/images/icon-youtube.png" alt="" /></a>
                <br /><br /><br />
                <img src="\Template/images/logosmal.png" alt="" /><br />
                &copy; @DateTime.Now.Year  |  <a href="#">Privacy Policy</a><br />
                All Rights Reserved
                <br /><br />

            </div>
        </div>
        <!-- End of column 1-->

        <div class="col-md-3">
            <span class="ftitle">About Us</span>
            <br /><br />
            <ul class="footerlist">
                <li><a ui-sref="CompanyOverview" translate="footer.company_overview"></a></li>
                <li><a ui-sref="CompanyOverview" translate="footer.private_privacy"></a></li>
                <li><a ui-sref="CompanyOverview" translate="footer.term_condition"></a></li>
                <li><a ui-sref="CompanyOverview" translate="footer.enquiry"></a></li>
                <li><a ui-sref="CompanyOverview" translate="footer.career"></a></li>
                <li><a ui-sref="CompanyOverview" translate="footer.contact_us"></a></li>
            </ul>
        </div>
        <!-- End of column 2-->

        <div class="col-md-3">
            <span class="ftitle">ParnerShip</span>
            <br /><br />
            <ul class="footerlist">
                <li><a ui-sref="CompanyOverview" translate="footer.login_myaccount"></a></li>
                <li><a ui-sref="CompanyOverview" translate="footer.service_support"></a></li>
                <li><a ui-sref="CompanyOverview" translate="footer.faqs_help"></a></li>
                <li><a ui-sref="CompanyOverview" translate="footer.how_wizcation_work"></a></li>
                <li><a ui-sref="CompanyOverview" translate="footer.payment_policy"></a></li>
                <li><a ui-sref="CompanyOverview" translate="footer.sitemap"></a></li>
            </ul>
        </div>
        <!-- End of column 3-->

        <div class="col-md-3 grey">
            <span class="ftitle">Newsletter</span>
            <div class="relative">
                <input type="email" class="form-control fccustom" id="exampleInputEmail1" placeholder="Enter email">
                <button type="submit" class="btn btn-default btncustom">Submit<img src="images/arrow.png" alt="" /></button>
            </div>
            <br /><br />
            <span class="ftitle">Customer support</span><br />
            <span class="pnr">1-866-599-6674</span><br />
            office@travel.com
        </div>
       
        <a href="#" id="btn-scroll-up" class="gotop scroll"><img src="\Template/images/spacer.png" alt="" /></a>

    </div>
</div>
