
@{
    ViewBag.Title = "Header";
}


<div class="navbar-wrapper2 navbar-fixed-top">
    <div class="container">
        <div class="navbar mtnav">

            <div class="container offset-3">
                <!-- Navigation-->
                <div class="navbar-header">
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a ui-sref="Home" class="navbar-brand"><img src="\Template/images/logo.png" alt="Travel Agency Logo" class="logo" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-class="{active: $state.includes('Home')}"><a ui-sref="Home" translate="home"></a></li>
                        <li ng-class="{active: $state.includes('Hotel')}"><a ui-sref="Hotel" translate="hotel"></a></li>
                        <li ng-class="{active: $state.includes('Activities')}"><a ui-sref="Activities" translate="activities"></a></li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#"> EN <b class="lightcaret mt-2"></b></a>
                            <ul class="dropdown-menu posright-0">
                                <li>
                                    <div class="row">
                                        <ul class="droplist col-md-4">
                                            <li><a>TH</a></li>
                                            <li><a>EN</a></li>
                                        </ul>
                                        @*<ul class="droplist col-md-4">
                                            <li class="dropdown-header">Update - <span class="green">14 New Pages</span></li>
                                            <li><a href="z-new-homepage.html">New Homepage</a>  <span class="glyphicon glyphicon-star lblue"></span></li>
                                            <li><a href="z-flights-list.html">Flights list</a>  <span class="glyphicon glyphicon-star lblue"></span></li>
                                            <li><a href="z-flights-payment.html">Flights payment</a></li>
                                            <li><a href="z-cruise-list.html">Cruise list</a></li>
                                            <li><a href="z-cruise-payment.html">Cruise payment</a></li>
                                            <li><a href="z-rentacar-list.html">Rent a car list</a></li>
                                      
                                        </ul>*@
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#"> Account <b class="lightcaret mt-2"></b></a>
                            <ul class="dropdown-menu posright-0">
                                <li>
                                    <a  translate="sign_in"></a>
                                    <a translate="create_account"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /Navigation-->
            </div>

        </div>
    </div>
</div>