
@{
    ViewBag.Title = "Header";
}


<div class="navbar-wrapper2 navbar-fixed-top">
    <div class="container">
        <div class="navbar mtnav">

            <div class="container offset-3">
                <!-- Navigation-->
                <div class="navbar-header">
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a ui-sref="Home" class="navbar-brand"><img src="\Template/images/logo.png" alt="Travel Agency Logo" class="logo" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right no-user-select">
                        <li ng-class="{active: $state.includes('Home')}"><a ui-sref="Home" translate="home"></a></li>
                        <li ng-class="{active: $state.includes('Hotel')}"><a ui-sref="Hotel" translate="hotel"></a></li>
                        <li  ng-hide="true" ng-class="{active: $state.includes('Activities')}"><a ui-sref="Activities" translate="activities"></a></li>
                        <li class="dropdown cursor-pointer" ng-controller="translateController">
                            <a data-toggle="dropdown" class="dropdown-toggle" translate="{{langSelect}}"><b class="lightcaret mt-2"></b></a>
                            <ul class="dropdown-menu posright-0">
                                <li>
                                        <ul class="droplist col-md-4 modify cursor-pointer">
                                            <li ng-repeat="a in lang" ng-click="changeLanguage(a.LanguagesCode)"><a translate="{{a.LanguagesCode}}"></a></li>
                                        </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" translate="account" href="#"><b class="lightcaret mt-2"></b></a>
                            <ul class="dropdown-menu posright-0 cursor-pointer">
                                <li>
                                    <a translate="sign_in" href="\Home/LogInMyAccount"></a>
                                    <a translate="create_account"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /Navigation-->
            </div>

        </div>
    </div>
</div>