<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Wizcation local - จองโรงแรม</title>
	
    <!-- Bootstrap -->
    <link href="\Template/dist/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="\Template/assets/css/custom.css" rel="stylesheet" media="screen">

    <!-- Carousel -->
	<link href="\Template/examples/carousel/carousel.css" rel="stylesheet">
	
    <!-- Fonts -->	
	<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,300,300italic' rel='stylesheet' type='text/css'>	
	<!-- Font-Awesome -->
    <link rel="stylesheet" type="text/css" href="\Template/assets/css/font-awesome.css" media="screen" />
    <!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="assets/css/font-awesome-ie7.css" media="screen" /><![endif]-->
	
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="\Template/css/fullscreen.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="\Template/rs-plugin/css/settings.css" media="screen" />

    <!-- Picker UI-->	
	<link rel="stylesheet" href="\Template/assets/css/jquery-ui.css" />		
	
    <!-- jQuery -->	
    <script src="\Template/assets/js/jquery.v2.0.3.js"></script>

	
  </head>
  <body id="top">
        @Html.Partial("Header")
        @Html.Partial("Content")
		

		
	<!-- END OF WRAP -->
	
	
	

    <!-- Javascript -->
	
    <!-- This page JS -->
	<script src="\Template/assets/js/js-index.js"></script>	
	
    <!-- Custom functions -->
    <script src="\Template/assets/js/functions.js"></script>
	
    <!-- Picker UI-->	
	<script src="\Template/assets/js/jquery-ui.js"></script>		
	
	<!-- Easing -->
    <script src="\Template/assets/js/jquery.easing.js"></script>
	
    <!-- jQuery KenBurn Slider  -->
    <script type="text/javascript" src="\Template/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	
   <!-- Nicescroll  -->	
	<script src="\Template/assets/js/jquery.nicescroll.min.js"></script>
	
    <!-- CarouFredSel -->
    <script src="\Template/assets/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="\Template/assets/js/helper-plugins/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="\Template/assets/js/helper-plugins/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="\Template/assets/js/helper-plugins/jquery.transit.min.js"></script>
	<script type="text/javascript" src="\Template/assets/js/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>
	
    <!-- Custom Select -->
	<script type='text/javascript' src='\Template/assets/js/jquery.customSelect.js'></script>	

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="\Template/dist/js/bootstrap.min.js"></script>
  </body>
</html>
