
@{
    ViewBag.Title = "About";
}
<div class="container breadcrub">
    <div>
        <a class="homebtn left" href="#"></a>
        <div class="left">
            <ul class="bcrumbs">
                <li>/</li>
                <li><a href="#" class="active" translate="private_privacy"></a></li>
            </ul>
        </div>
        <a class="backbtn right" href="#"></a>
    </div>
    <div class="clearfix"></div>
    <div class="brlines"></div>
</div>
<!-- CONTENT -->
<div class="container">
    <div class="container mt25 offset-0">
        <!-- CONTENT -->
        <div class="col-md-12 pagecontainer2 offset-0">
            <div class="hpadding50c">
                <p class="lato size30 slim" translate="private_privacy"></p>
                <p class="aboutarrow"></p>
            </div>
            <div class="hpadding50c">
                <br /><br />
                <div class="col-md-8 cpdd02">
                    <div class="opensans size18 grey">
                        <span class="lato dark bold">Accommodation, Local Partners</span><br /><br />
                        <b>Welcome to Wizcation Term of Agreement</b> is our priority purpose to build a travel business.  Working together with local partners to add value of e-tourism in Thailand. Boosting “local inputs”  into the wizcation.com.   To Increase motivation for travelers. Particularly, cooperating in areas of sharing the best practices.
                    </div>
                </div>
                <!-- LEFT IMG -->
                <div class="col-md-4 cpdd01">
                    <img src="\Images/Wallpaper/Travel.jpg" class="fwimg" alt="" height="211" width="322" />
                </div>
                <div class="clearfix"></div><br /><br />
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
</div>
<!-- END OF CONTENT -->

@Html.Partial("../Home/Footer")
