
@{
    ViewBag.Title = "TermCondition";
}

<div class="container breadcrub">
    <div>
        <a class="homebtn left" href="#"></a>
        <div class="left">
            <ul class="bcrumbs">
                <li>/</li>
                <li><a href="#" class="active">Term Condition</a></li>
            </ul>
        </div>
        <a class="backbtn right" href="#"></a>
    </div>
    <div class="clearfix"></div>
    <div class="brlines"></div>
</div>

<!-- CONTENT -->
<div class="container">
    <div class="container mt25 offset-0">
        <!-- CONTENT -->
        <div class="col-md-12 pagecontainer2 offset-0">
            <div class="hpadding50c">
                <p class="lato size30 slim" translate="term_condition"></p>
                <p class="aboutarrow"></p>
            </div>
            <div class="line3"></div>
            <div class="hpadding50c">
                <br />
                <!-- LEFT IMG -->
                <div class="col-md-4 cpdd01">
                    <br /><br />
                    <img src="https://i.ytimg.com/vi/ZSDG1hmYbPA/maxresdefault.jpg" class="fwimg" alt="" height="211" width="322" />
                </div>
                <!-- END OF LEFT IMG -->
                <!-- IMG RIGHT TEXT -->
                <div class="col-md-8 cpdd02">
                    <div class="opensans size18 grey">
                        <span class="lato dark bold"> Wizcation Profile </span><br /><br />
                        <b>wizcation.com </b> is the local  tourism website to manage and operate a range of Thailand local e-tourism,  we make your destination specialist ,include information, up to date promotion, facilities, attractive places, activities things to do,  payment methods, maps, directions, website links, E-coupon and voucher.
                        We have developed system that are designed to support local business owners in running and growing their companies. Wizcation is easy to join and promote significant value to your local businesses. Building their way as they go. with Wizcation.
                        <br /><br />
                    </div>
                </div>
                <!-- END OF IMG RIGHT TEXT -->
                <div class="clearfix"></div>
                <br /><br />
                <div class="line3"></div>
                <br /><br />
                <div class="col-md-8 cpdd02">
                    <div class="opensans size18 grey">
                        <span class="lato dark bold">Our Mission</span><br /><br />
                        <b>E-Local tourism</b> is our priority purpose to build a travel business.  Working together with local partners to add value of e-tourism in Thailand. Boosting “local inputs”  into the wizcation.com.   To Increase motivation for travelers. Particularly, cooperating in areas of sharing the best practices.
                    </div>
                </div>
                <!-- LEFT IMG -->
                <div class="col-md-4 cpdd01">
                    <img src="\Images/Wallpaper/Travel.jpg" class="fwimg" alt="" height="211" width="322" />
                </div>
                <div class="clearfix"></div><br /><br />
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
</div>
<!-- END OF CONTENT -->


@Html.Partial("../Home/Footer")
